.data-section {
    display: flex;
    justify-content: center;
    border: 2px solid purple;
    border-radius: 35px;
}

.add-form-section {
    display: flex;
    justify-content: center;
    min-width: 700px;
    max-width: 700px;
    min-height: 400px;
    max-height: 400px;
    position: relative;
}

.add-trip {
    display: flex;
    flex-direction: column;
    min-width: 500px;
    max-width: 500px;
    justify-content: space-between;
    min-height: 50vh;
    max-height: 100%;
}

.add-trip h1 {
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 28%;
    max-height: 28%;
    min-width: 300px;
    max-width: 300px;
}

.form div {
    display: flex;
    justify-content: space-between;
}

.trip-detail-div {
    display: flex;
    justify-content: stretch;
    height: 30%;
    min-width: 100%;
    max-width: 100%;
}

.trip-detail {
    width: 65%;
    height: 100%;
    border-radius: 10px;
    padding: 5px;
}

#trip-name,
#city {
    width: 170px;
    height: 21px;
    border-radius: 10px;
    padding: 5px;
}

#date {
    width: 173px;
    height: 23px;
    border-radius: 8px;
    padding: 3px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.trips-div {
    width: 100%;
    height: fit-content;
    border: 2px solid purple;
    border-radius: 35px;
    display: flex;
    padding: 0;
    gap: 20px;
}

.place-img {
    width: 50%;
    height: 55vh;
    border-radius: 35px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

#result-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    min-width: 700px;
    max-width: 700px;
}

.div-child {
    background-color: #c6bcc6;
    padding: 10px;
    padding-left: 20px;
    width: 50%;
    border-radius: 35px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    position: relative;
    height: fit-content;
}

.trip-title {
    text-align: start;
    width: fit-content;
}

.add-section {
    min-width: 200px;
    max-width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#add-trip {
    border-radius: 15px;
    background-color: #c6bcc6;
    padding: 10px;
    cursor: pointer;
}

#delete-all-trips {
    border-radius: 15px;
    background-color: #c6bcc6;
    padding: 10px;
    cursor: pointer;
}

.t-title {
    text-align: center;
}

#close {
    top: 15px;
    right: 15px;
    position: absolute;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

#travel-info {
    border-radius: 15px;
    background-color: #c6bcc6;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.delete-trip-div {
    display: flex;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    bottom: 22px;
    width: 90%;
}

.delete-trip {
    text-align: center;
    border-radius: 15px;
    background-color: #c6bcc6;
    padding: 10px;
    cursor: pointer;
}

.trip-d {
    width: 240px;
    overflow-wrap: break-word;
    margin-bottom: 75px;
}